:root {
  --primary: #559dab;
  --bg: #ffffff;
  --navbar-bg: rgba(85, 157, 171, 0.85);
  --navbar-border: #197296;
  --navbar-text: #ffffff;
  --dark-gray: #031727;
  --deep-sky-blue: #197296;
  --silver: #c0c0c0;
  --letterSpacing: 0.1em;
  --borderRadius: 0.25rem;
  --backgroundColor: var(--bg);
  --textColor: var(--dark-gray);
  --headingFont: "Arial", sans-serif;
  --smallText: 0.85rem;
  --fluid-width: 90%;
  --max-width: 1170px;
  --transition: 0.3s ease-in-out;
  --grey-200: #e0e0e0;
  --grey-500: #808080;
  --grey-700: #555555;
  --grey-800: #333333;
}

.category-btn,
.product-name,
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.category-btn,
.product-name,
.product-price,
.search-input,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--letterSpacing);
}

.product-detail img,
.product-img {
  height: 15rem;
  border-radius: var(--borderRadius);
}

.product-detail img,
.product-img,
.search-input {
  border-radius: var(--borderRadius);
}

.category-btn,
.product-info h5,
.product-name {
  color: var(--grey-500);
}

body {
  background: var(--backgroundColor);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

.text-small,
small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.products {
  width: var(--fluid-width);
  display: grid;
  grid-gap: 1rem;
  margin: 4rem auto;
  max-width: var(--max-width);
}

.filters-container h5 {
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
  font-size: 0.85rem;
}

.product-info h3,
.product-info h5 {
  margin: 0 0 0.25rem;
}

.search-input {
  padding: 0.5rem;
  background: var(--grey-200);
  border-color: transparent;
}

.category-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  background: 0 0;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.85rem;
}

.category-btn:hover {
  color: var(--grey-700);
}

.product {
  margin-bottom: 1rem;
}

.product footer {
  padding: 0.75rem 0;
  text-align: center;
}

.product-name {
  margin-bottom: 0.25rem;
}

.product-price {
  margin-bottom: 0;
  color: var(--grey-700);
  font-weight: 700;
  font-size: 1rem;
}

.home-link {
  display: block;
  width: 150px;
  margin: 2rem auto;
  text-align: center;
}

.product-detail {
  padding: 5rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.product-info {
  padding-top: 1rem;
}

.product-info span {
  color: var(--grey-800);
}

.product-info p {
  margin: 0 0 1.25rem;
}

@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: 200px 1fr;
  }

  .product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .product-detail img {
    height: 100%;
    max-height: 500px;
  }
}

@media screen and (min-width: 992px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .products-container .product-img {
    height: 10rem;
  }

  .products-container .product-name,
  .products-container .product-price {
    font-size: 0.85rem;
  }

  .product {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
