:root {
  --primary: #d6fef6;
  --bg: rgb(85, 157, 171);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Koh Santepheap", serif;
  background-color: var(--bg);
  color: azure;
  min-height: 2000px;
}
html {
  scroll-behavior: smooth;
}

/* navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 5%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Navbar.fixed {
  background-color: rgba(85, 157, 171, 0.85);
  border-bottom: 1px solid #197296;
}
.Navbar .logo {
  display: flex;
  flex: 0.8;
  align-items: center;
}
.Navbar .navbar-logo {
  font-size: 1.8rem;
  font-style: solid;
  color: rgb(20, 20, 20);
}
.Navbar .navbar-logo span {
  color: #031727;
  font-style: italic;
}
.Navbar img {
  width: 82.61px;
  height: 70px;
}

.Navbar .navbar-nav a {
  color: #d6fef6;
  display: inline-block;
  font-size: 1.25rem;
  margin: 0.4rem;
}
.Navbar .navbar-nav a:hover {
  color: var(--primary);
}

.Navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}

.Navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.Navbar .navbar-tambahan a {
  color: black;
  margin: 0.4rem;
}

#menu {
  display: none;
}
/* Display */
.awal {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg-index.png);
  animation: slide 20s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.awal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(85, 157, 171, 1) 5%,
    rgb(13, 106, 143, 0) 25%
  );
}

.awal .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.awal .content h1 {
  font-size: 5rem;
  color: #d6fef6;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.5);
  line-height: 1;
}
.awal .content p {
  font-family: "Koh Santepheap", serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.7);
  mix-blend-mode: difference;
}

.awal .content .cari {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: white; /* Warna teks diubah menjadi putih */
  background-color: rgb(
    85,
    157,
    171
  ); /* Warna latar belakang sesuai dengan RGB yang diberikan */
  border-radius: 0.8rem;
  box-shadow: 1px 1px 5px rgba(25, 135, 177, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.awal .content .cari:hover {
  background-color: rgba(25, 135, 177, 1);
  box-shadow: 1px 1px 8px rgba(214, 254, 246, 0.9);
}

/* Tentang Kami */
.about,
.maskapai,
.daerah {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.maskapai h2,
.daerah h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about .row .about-img {
  flex: 1 1 30%;
  max-width: 45rem;
  margin-bottom: 2rem;
  position: relative;
}

.about .row .about-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Gambar pertama */
.about .row .about-img img:nth-child(1) {
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
  z-index: 3;
}

/* Gambar kedua */
.about .row .about-img img:nth-child(2) {
  max-width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5rem));
  z-index: 2;
}

/* Gambar ketiga */
.about .row .about-img img:nth-child(3) {
  max-width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
  z-index: 1;
}

.about .row .content {
  flex: 1 1 65%;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* CSS untuk form pencarian */
.booking__container {
  background-color: #accdec;
  border: 1px solid #197296;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.booking__container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.booking__container label {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0.5rem;
  display: block;
}

.booking__container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.booking__container .btn {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(57, 116, 128);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking__container .btn:hover {
  background-color: rgba(57, 116, 128, 0.5);
}

/* Daerah */
.daerah .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
.daerah .daerah-card {
  text-align: center;
  background-color: #accdec;
  border: 1px solid #197296;
  border-radius: 10px;
  padding: 1rem;
}
.daerah .daerah-card .daerah-gambar img {
  margin-top: 1rem;
  width: 15rem;
  height: 15rem;
}
.daerah .daerah-card .daerah-content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  color: #d6fef6;
  background-color: rgb(57, 116, 128);
}
.daerah .daerah-card .daerah-content .cta:hover {
  background-color: rgba(57, 116, 128, 0.5);
}
/* Maskapai */
.maskapai h2 {
  margin-bottom: 0.5rem;
}
.maskapai p {
  text-align: center;
  max-width: 38rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.maskapai .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}
.maskapai .row .maskapai-card {
  text-align: center;
  padding-bottom: 5rem;
}
.maskapai .row .maskapai-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.maskapai .row .maskapai-card .nama-maskapai {
  margin: 1.5rem auto 0.5rem;
  font-size: 1.2rem;
}

/* Footer */
.footer {
  background-color: var(--bg);
}

.footer__container {
  border-top: 1px solid #197296;
  margin: auto;
  padding: 3rem 2rem 2rem 3rem;
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  gap: 5rem;
}

.footer__col h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer__col p,
a {
  color: #f1f5f9;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: #ffffff;
}

.footer__bar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid #197296;
}

.footer__bar p {
  font-size: 0.9rem;
  color: #f1f5f9;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials span {
  font-size: 1.2rem;
  color: #f1f5f9;
}
/* responsive */

/* Laptop */
@media (max-width: 1180px) {
  html {
    font-size: 85%;
  }
}
/* Tablet */
@media (max-width: 975px) {
  html {
    font-size: 75%;
  }
  #menu {
    display: inline-block;
  }
  .Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #d6fef6;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .Navbar .navbar-nav.aktif {
    right: 0;
  }
  .Navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .Navbar .navbar-nav a:hover {
    color: black;
  }

  .Navbar .navbar-nav a:hover::after {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0.25);
    transition: 0.3s;
    transform-origin: 0 0;
  }
  .awal .content .cari {
    width: 25rem;
    padding: 0.5rem 15rem 0.5rem 1rem;
  }
  .travellers__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    gap: 2rem;
  }
  .about .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-img {
    min-height: 600px;
    grid-area: 1/1/2/2;
  }
}
/* HP */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .booking__nav span {
    padding: 1rem 0.5rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__bar {
    flex-direction: column;
    text-align: center;
  }
}
