:root {
  --primary: #559dab;
  --bg: #ffffff;
  --navbar-bg: rgba(85, 157, 171, 0.85);
  --navbar-border: #197296;
  --navbar-text: #ffffff;
  --dark-gray: #031727;
  --deep-sky-blue: #197296;
  --silver: #c0c0c0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
}
*,
.tour-content a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Koh Santepheap", serif;
  background-color: var(--bg);
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 5% 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.Navbar.fixed {
  background-color: var(--navbar-bg);
  border-bottom: 1px solid var(--navbar-border);
  padding-bottom: 0;
}
.Navbar .logo {
  display: flex;
  flex: 0.8;
  align-items: center;
}
.Navbar .navbar-logo {
  font-size: 2rem;
  font-style: solid;
  color: #141414;
}
.Navbar .navbar-logo span {
  color: #031727;
  font-style: italic;
}
.Navbar .navbar-nav a,
.Navbar .navbar-tambahan a {
  color: var(--navbar-text);
  margin: 0.4rem;
}
.Navbar img {
  width: 80px;
  height: 70px;
}
.Navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.5rem;
}
.Navbar .navbar-nav a:hover {
  color: #000;
}
.Navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}
.Navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
#menu {
  display: none;
}
.awal {
  font-family: Poppins, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg-1.jpeg), url(../img/bg-2.jpeg),
    url(../img/bg-3.jpeg);
  animation: 15s infinite slideshow;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@keyframes slideshow {
  0%,
  100% {
    opacity: 1;
    background-image: url(../img/bg-1.jpeg);
  }
  25% {
    opacity: 1;
    background-image: url(../img/bg-2.jpeg);
  }
  50% {
    opacity: 1;
    background-image: url(../img/bg-3.jpeg);
  }
}
.awal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(0deg, #559dab 5%, rgb(13, 106, 143, 0) 25%);
}
.awal .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.section {
  background-color: #f7f7f7;
  padding: 5rem;
}

.title {
  margin: auto;
  text-align: justify;
  margin-bottom: 5rem;
  max-width: 900px;
}

.about-center {
  display: flex;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  max-width: 500px;
  height: auto;
}

.about {
  flex: 2;
  max-width: 900px;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

/* .tab-btn {
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.tab-btn.active {
  background-color: var(--deep-sky-blue);
  color: var(--silver);
}

.about-content {
  background-color: #f2f2f2;
  padding: 50px 20px;
  border-radius: 8px;
  margin-top: 1rem;
}

.content {
  display: none;
  padding: 1rem;
}

.content.active {
  display: block;
}
.why-choose-us,
.rekomendasi-tour {
  background-color: #f8f8f8;
  padding: 15px 0;
  margin-top: 5rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.memories__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.reasons,
.tours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}
.reason,
.tour {
  padding: 3rem 2rem;
  border-radius: 5rem;
  background-color: var(--white);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
}
.reason,
.reason h4,
h2,
.tour {
  text-align: center;
}

.booking__container .btn {
  padding: 0.5rem;
  background-color: #397480;
  color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}
.booking__container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reason img {
  width: 80px;
  height: 80px;
  margin: 2rem auto 0.5rem;
  border-radius: 50%;
}
.reason span {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--white);
}
.reason h4,
.tour h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}
.reason p,
.tour p {
  text-align: justify;
  color: var(--text-light);
  line-height: 1.75rem;
}
.section__header {
  text-align: center;
  margin-bottom: 30px;
}

.booking__container {
  background-color: #accdec;
  border: 1px solid #197296;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px;
}
.booking__container form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.booking__container label {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0.5rem;
  display: block;
}
.booking__container input,
.booking__container select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: 0;
}
.booking__container .btn {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.tour,
.tour-image {
  border-radius: 5px;
}
.booking__container .btn:hover {
  background-color: rgba(57, 116, 128, 0.5);
}
/* .rekomendasi-tour {
  padding: 50px 20px;
  background-color: #f7f7f7;
} */
.tour-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.tour-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.tour-content {
  padding-top: 15px;
}
.tour-content h3 {
  margin-bottom: 10px;
}
.tour-content p {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.tour-content a {
  color: #197296;
}
.tour-content a:hover {
  text-decoration: underline;
}

.containerss {
  text-align: right;
}

.semua,
.tab-btn {
  color: var(--deep-sky-blue);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid var(--deep-sky-blue);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.semua:hover,
.tab-btn:hover {
  background-color: var(--deep-sky-blue);
  color: #fff;
}

.footer {
  background-color: var(--primary);
}
.footer__container {
  border-top: 1px solid var(--dark-gray);
  margin: auto;
  padding: 1.5rem 1rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  gap: 5rem;
}
.footer__bar,
.socials {
  display: flex;
  gap: 1rem;
}
.footer__col a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg);
  margin-bottom: 0.8rem;
}
.footer__col span {
  color: var(--deep-sky-blue);
  font-style: italic;
}
.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bg);
  margin: auto;
}
.footer__col p,
a {
  color: var(--bg);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.footer__bar {
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--bg);
}
.footer__bar p {
  font-size: 0.9rem;
  color: var(--bg);
}
.socials {
  align-items: center;
}
.socials span {
  font-size: 1.2rem;
  color: var(--bg);
}

/* User Info Modal */
#userInfoModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: 20% auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  cursor: pointer;
}

/* User Info Form */
#userInfoForm {
  display: flex;
  flex-direction: column;
}

#userInfoForm label {
  margin-bottom: 8px;
}

#userInfoForm input {
  padding: 8px;
  margin-bottom: 16px;
}

#userInfoForm button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 1180px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 768px) {
  .Navbar .navbar-nav a,
  .Navbar .navbar-nav a:hover {
    color: var(--dark-gray);
  }
  html {
    font-size: 75%;
  }
  #menu {
    display: inline-block;
  }
  .Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .Navbar .navbar-nav.aktif {
    right: 0;
  }
  .Navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .Navbar .navbar-nav a:hover::after {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0.25);
    transition: 0.3s;
    transform-origin: 0 0;
  }
  .daerah {
    padding: 7.5rem 7% 1.4rem;
    margin-top: 2rem;
  }
  .awal .content .cari {
    width: calc(100% - 2rem);
    overflow-x: auto;
    white-space: nowrap;
  }
  .about-center {
    flex-direction: column;
  }

  .about-img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .btn-container {
    flex-direction: column;
  }
  .booking__container form,
  .travellers__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .reasons,
  .tours {
    grid-template-columns: 1fr;
  }
  .footer__container {
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .booking__nav span {
    padding: 1rem 0.5rem;
  }
  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__bar {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .awal {
    background-size: cover;
  }
}
