:root {
  --primary: #559dab;
  --bg: #ffffff;
  --navbar-bg: rgba(85, 157, 171, 0.85);
  --navbar-border: #197296;
  --navbar-text: #ffffff;
  --dark-gray: #031727;
  --deep-sky-blue: #197296;
  --silver: #c0c0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Koh Santepheap", serif;
  background-color: var(--bg);
  min-height: 2000px;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 5%;
  padding-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Navbar.fixed {
  background-color: var(--navbar-bg);
  border-bottom: 1px solid var(--navbar-border);
  padding-bottom: 0rem;
}

.Navbar .logo {
  display: flex;
  flex: 0.8;
  align-items: center;
}

.Navbar .navbar-logo {
  font-size: 2rem;
  font-style: solid;
  color: rgb(20, 20, 20);
}

.Navbar .navbar-logo span {
  color: #031727;
  font-style: italic;
}

.Navbar img {
  width: 80px;
  height: 70px;
}

.Navbar .navbar-nav a {
  color: var(--navbar-text);
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.4rem;
}

.Navbar .navbar-nav a:hover {
  color: black;
}

.Navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}

.Navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.Navbar .navbar-tambahan a {
  color: var(--navbar-text);
  margin: 0.4rem;
}

#menu {
  display: none;
}

/* Display */
.awal {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg-1.jpeg), url(../img/bg-2.jpeg),
    url(../img/bg-3.jpeg);
  animation: slideshow 15s infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow: hidden;
}

@keyframes slideshow {
  0%,
  100% {
    opacity: 1;
    background-image: url(../img/bg-1.jpeg);
  }
  25% {
    opacity: 1;
    background-image: url(../img/bg-2.jpeg);
  }
  50% {
    opacity: 1;
    background-image: url(../img/bg-3.jpeg);
  }
}

.awal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(85, 157, 171, 1) 5%,
    rgb(13, 106, 143, 0) 25%
  );
}

.awal .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.awal .content h1 {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.5);
  line-height: 1;
}

.awal .content p {
  font-family: "Koh Santepheap", serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.7);
  mix-blend-mode: difference;
}

.awal .content .cari {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 0.8rem;
  box-shadow: 1px 1px 5px rgba(25, 135, 177, 0.7);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.awal .content .cari:hover {
  background-color: rgba(25, 135, 177, 1);
  box-shadow: 1px 1px 8px rgba(214, 254, 246, 0.9);
}

/* Why Choose Us*/
.why-choose-us {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.reasons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.reason {
  text-align: center;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

.reason img {
  width: 80px;
  height: 80px;
  margin: 2rem;
  border-radius: 50%;
}

.reason h3 {
  font-size: 1.2rem;
  margin: 1.5rem auto 0.5rem;
}

.reason p {
  text-align: center;
  max-width: 38rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

/* Gambar pertama */
.about .row .about-img img:nth-child(1) {
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
  z-index: 3;
}

/* Gambar kedua */
.about .row .about-img img:nth-child(2) {
  max-width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5rem));
  z-index: 2;
}

/* Gambar ketiga */
.about .row .about-img img:nth-child(3) {
  max-width: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
  z-index: 1;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 8 1rem;
  color: var(--primary);
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* CSS untuk form pencarian */
.booking__container {
  background-color: #accdec;
  border: 1px solid #197296;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.booking__container form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.booking__container label {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0.5rem;
  display: block;
}

.booking__container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.booking__container .btn {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgb(57, 116, 128);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking__container .btn:hover {
  background-color: rgba(57, 116, 128, 0.5);
}

/* Reset Browser Default Styles */
body,
h1,
h2,
h3,
p,
a,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Style the Rekomendasi Tour Section */
.rekomendasi-tour {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.tours {
  display: flex;
  justify-content: space-between;
}

.tour {
  flex: 1 1 300px;
  margin: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tour-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.tour-image img {
  width: 100%;
  height: auto;
}

.tour-content {
  padding-top: 15px;
}

.tour-content h3 {
  margin-bottom: 10px;
}

.tour-content p {
  margin-bottom: 15px;
}

.tour-content a {
  color: #197296;
  text-decoration: none;
}

.tour-content a:hover {
  text-decoration: underline;
}

/* Maskapai */
.maskapai h2 {
  margin-bottom: 0.5rem;
}

.maskapai p {
  text-align: center;
  max-width: 38rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.maskapai .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.maskapai .row .maskapai-card {
  text-align: center;
  padding-bottom: 5rem;
}

.maskapai .row .maskapai-card img {
  width: 165px;
  height: 165px;
  margin: 2rem;
  border-radius: 50%;
}

.maskapai .row .maskapai-card .nama-maskapai {
  margin: 1.5rem auto 0.5rem;
  font-size: 1.2rem;
}

/* Footer */
.footer {
  background-color: var(--primary);
}

.footer__container {
  border-top: 1px solid var(--dark-gray);
  margin: auto;
  padding: 1.5rem 1rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  gap: 5rem;
}

.footer__col a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg);
  margin-bottom: 0.8rem;
}

.footer__col span {
  color: var(--deep-sky-blue);
  font-style: italic;
}

.footer__col h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--bg);
  margin-bottom: 1rem;
}

.footer__col p,
a {
  color: var(--bg);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--silver);
}

.footer__bar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid var(--bg);
}

.footer__bar p {
  font-size: 0.9rem;
  color: var(--bg);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials span {
  font-size: 1.2rem;
  color: var(--bg);
}

/* responsive */

/* Laptop */
@media (max-width: 1180px) {
  html {
    font-size: 85%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #menu {
    display: inline-block;
  }

  .Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .Navbar .navbar-nav.aktif {
    right: 0;
  }

  .Navbar .navbar-nav a {
    color: var(--dark-gray);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .Navbar .navbar-nav a:hover {
    color: var(--dark-gray);
  }

  .Navbar .navbar-nav a:hover::after {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0.25);
    transition: 0.3s;
    transform-origin: 0 0;
  }

  .about,
  .maskapai,
  .daerah {
    padding: 7.5rem 7% 1.4rem;
    margin-top: 2rem;
  }

  .awal .content .cari {
    width: calc(100% - 2rem);
    overflow-x: auto;
    white-space: nowrap;
  }

  .travellers__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking__container form {
    grid-template-columns: repeat(2, 1fr);
  }
  .reasons {
    grid-template-columns: 1fr;
  }

  .footer__container {
    gap: 2rem;
  }

  .about .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-img {
    min-height: 600px;
    grid-area: 1/1/2/2;
  }
}

/* HP */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .booking__nav span {
    padding: 1rem 0.5rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__bar {
    flex-direction: column;
    text-align: center;
  }
}
