body {
   font-family: "Koh Santepheap", serif;
   margin: 0;
   padding: 0;
}

.section-poster {
   margin-top:100px;
}

header {
    background-color: rgba(85, 157, 171, 0.85);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
     padding: 2rem;
}

h1{
   background-color: rgba(85, 157, 171, 0.85);
   margin: 0;
   padding: 1rem;
}

img{
  padding: 20px;
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row-reverse;
  margin: auto;
}

h2 {
   margin-bottom: 1rem;
   margin-left: 20px;
}

table {
   min-width: 100%;
   border-collapse: collapse;
}

th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}

th {
   background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

p{
  margin-left: 20px;
}

footer {
   background-color: rgba(85, 157, 171, 0.85);
   color: white;
   text-align: center;
   padding: 0.5rem;
}

/* Media Query for responsiveness */

@media screen and (max-width: 600px) {
main {
   padding: 1rem;
}

img {
   padding: 10px;
}

h2 {
  margin-left: 10px;
}

p {
  margin-left: 10px;
}
}
