body {
   font-family: "Koh Santepheap", serif;
   margin: 0;
   padding: 0;
}

/* Poster Styles */
.poster img {
   width: 100%;
   height: auto;
 }
 
 /* Jadwal Styles */
 .jadwal {
   padding: 2rem;
 }
 
 .jadwal h2 {
   margin-bottom: 1rem;
 }
 
 table {
   min-width: 100%;
   border-collapse: collapse;
 }
 
 th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
 }
 
 th {
   background-color: #f2f2f2;
 }
 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 tr:hover {
   background-color: #ddd;
 }
 
 .jadwal p {
   margin-left: 20px;
 }
 
 /* Footer Styles */
 .footer {
   background-color: rgba(85, 157, 171, 0.85);
   color: white;
   text-align: center;
   padding: 0.5rem;
 }
 
 .footer__container {
   display: flex;
   justify-content: space-between;
 }
 
 .footer__col {
   flex: 1;
   text-align: left;
 }
 
 .footer__col a {
   text-decoration: none;
   color: white;
   display: block;
   margin-bottom: 5px;
 }
 
 .footer__bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
 }
 
 .socials span {
   margin: 0 5px;
 }
 
 /* Media Query for responsiveness */
 @media screen and (max-width: 600px) {
   .jadwal {
     padding: 1rem;
   }
 
   .poster img {
     padding: 10px;
   }
 
   .jadwal h2,
   .jadwal p {
     margin-left: 10px;
   }
 }