:root {
  --primary: #d6fef6;
  --bg: rgb(25, 135, 177);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Koh Santepheap", serif;
  background-color: var(--bg);
  color: azure;
  min-height: 2000px;
}

/* navbar */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  background-color: rgba(10, 122, 167, 0.7);
  border-bottom: 1px solid #197296;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Navbar .navbar-logo {
  font-size: 1.8rem;
  font-style: italic;
  color: rgb(20, 20, 20);
}
.Navbar .navbar-logo span {
  color: #e6f1fa;
}

.Navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.25rem;
  margin: 0.4rem;
}
.Navbar .navbar-nav a:hover {
  color: var(--primary);
}

.Navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}

.Navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.Navbar .navbar-tambahan a {
  color: black;
  margin: 0.4rem;
}

#menu {
  display: none;
}

.awal {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bg-pertama.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.awal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(25, 135, 177, 1) 5%,
    rgb(13, 106, 143, 0) 25%
  );
}

.awal .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.awal .content h1 {
  font-size: 5rem;
  color: #d6fef6;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.5);
  line-height: 1;
}
.awal .content p {
  font-family: "Koh Santepheap", serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(10, 122, 167, 0.7);
  mix-blend-mode: difference;
}
.awal .content .cari {
  width: 30rem;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.5rem 15rem 0.5rem 1rem;
  color: var(--bg);
  background-color: rgba(214, 254, 246, 0.5);
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px rgba(25, 135, 177, 0.7);
}

/* responsive */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}
/* Tablet */
@media (max-width: 1180px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: inline-block;
  }
  .Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #d6fef6;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .Navbar .navbar-nav.aktif {
    right: 0;
  }
  .Navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .Navbar .navbar-nav a:hover {
    color: black;
  }

  .Navbar .navbar-nav a:hover::after {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0.25);
    transition: 0.3s;
    transform-origin: 0 0;
  }
  .awal .content .cari {
    width: 25rem;
    padding: 0.5rem 15rem 0.5rem 1rem;
  }
}
/* HP */
@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
/* HP */
@media (max-width: 320px) {
  html {
    font-size: 55%;
  }
}
