body {
    background-color: #d9d9d9;
  }
  
  header {
    background-color: #0000ff;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  main {
    width: 500px;
    margin: 0 auto;
  }
  
  .form {
    border: 1px solid #0000ff;
    padding: 20px;
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #0000ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-primary {
    color: #ffffff;
  }
  
  .btn-secondary {
    color: #0000ff;
  }