*{
  --borderRadius: 0.25rem;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-top: 110px;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: rgba(85, 157, 171, 0.85);
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Section Styles */
.about-us,
.mission-vision,
.team-section,
.contact-us {
  padding: 30px;
  margin: 30px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.about-us h2,
.mission-vision h2,
.team-section h2,
.contact-us h2 {
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-us p,
.mission-vision p,
.team-member p,
.contact-us p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.product-detail { 
  width: 50vw;  
  margin: 0 auto;
} 
.product-detail img { 
  width: 15rem; 
  height: 10rem; 
  padding: 10px;
  border-radius: var(--borderRadius); 
} 
.product-info {
  padding-top: 1rem;
}
.product-info h3 {
  margin: 0;
  margin-bottom: 0.25rem;
}
.product-info h5 {
  color: var(--grey-500);
  margin: 0;
  margin-bottom: 0.25rem;
}
.product-info span {
  color: var(--grey-800);
}

.product-info p {
  margin: 0;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px)  {
  .product-detail { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    column-gap: 2rem;
  }
}
.product-detail img { 
  height: 100%; 
  max-height: 200px;
} 

/* Footer Styles */
footer {
  background: rgba(85, 157, 171, 0.85);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}