*{
  --borderRadius: 0.25rem;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-top: 110px;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: rgba(85, 157, 171, 0.85);
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Section Styles */
.about-us,
.mission-vision,
.team-member,
.contact-us {
  padding: 30px;
  margin: 30px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(85, 157, 171, 0.85);
}

.about-us h2,
.mission-vision h2,
.team-member h2,
.contact-us h2 {
  margin-bottom: 20px;
  text-transform: inherit;
}

.about-us p,
.mission-vision p,
.team-member p,
.contact-us p {
  margin-top: 10px;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.team-class {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.team-class h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 30px;
}

.team-class h1 span {
  color: black;
  margin-left: 15px;
}

.team-class h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background: grey;
  display: block;
  position: relative;
  bottom: 5px;
}

.team-class .team-section {
  margin: 0 auto;
  display:grid;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5%;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 0.3rem;
}

.team-class .team-section .image {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  margin: 0 20px;
  display: flex;
  align-items: self-end;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.team-class .team-section .image:hover {
  border-radius: 25px;
  height: 200px;
  background-color: skyblue;
}

.team-class .team-section .image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
  z-index: 5;
  transition: 0.2s;
}

.team-class .team-section .image:hover img {
  border-radius: 20px;
  margin-top: -500px;
}

.team-class .team-section .image .profile {
  position: absolute;
  text-align: center;
  top: 5px;
  margin-bottom: 80px;
}



.team-class .team-section .image .profile .name {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  margin:-5px;
}

.team-class .team-section .image .profile .name .span {
  width: 78%;
  font-size: 0.7rem;
  text-align: center;
  margin: 5px auto 5px auto;
  color:#555
}

.team-class .team-section .image .profile {
  margin: 4px 5px 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.team-class .team-section .image .profile :hover {
  color:darkblue;
} 

.team-class .team-section .image .profile .name .span :hover{
  color: black;
}

/* Footer Styles */
footer {
  background: rgba(85, 157, 171, 0.85);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}