body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.tiket {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
}

.tiket h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.garis-lurus {
    border: 1px solid #ddd;
    margin: 10px 0;
}

.detail-tiket {
    text-align: left;
    margin-bottom: 15px;
}

.detail-tiket p {
    margin: 8px 0;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.tombol-pesan {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.tombol-pesan:hover {
    background-color: #45a049;
}

.form-container {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}