.category-btn,
.product-name,
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.category-btn,
.product-name,
.product-price,
.search-input,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--letterSpacing);
}
.product-detail img,
.product-img {
  height: 15rem;
  border-radius: var(--borderRadius);
}
.product-detail img,
.product-img,
.search-input {
  border-radius: var(--borderRadius);
}
.category-btn,
.product-info h5,
.product-name {
  color: var(--grey-500);
}
:root {
  --primary-100: hsl(199, 42%, 67%);
  --primary-200: hsl(199, 42%, 57%);
  --primary-300: hsl(199, 42%, 47%);
  --primary-400: hsl(199, 42%, 42%);
  --primary-500: hsl(199, 42%, 37%);
  --primary-600: hsl(199, 42%, 32%);
  --primary-700: hsl(199, 42%, 29%);
  --primary-800: hsl(199, 42%, 25%);
  --primary-900: hsl(199, 42%, 17%);
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --smallText: 0.7em;
  --backgroundColor: var(--bg);
  --textColor: var(--dark-gray);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
body {
  background: var(--backgroundColor);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}
.text-small,
small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.products {
  width: var(--fluid-width);
  display: grid;
  grid-gap: 1rem;
  margin: 8rem auto;
  max-width: var(--max-width);
}
.filters-container h5 {
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
  font-size: 0.85rem;
}
.product-info h3,
.product-info h5 {
  margin: 0 0 0.25rem;
}
.search-input {
  padding: 0.5rem;
  background: var(--grey-200);
  border-color: transparent;
}
.category-btn {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem;
  background: 0 0;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.85rem;
}
.category-btn:hover {
  color: var(--grey-700);
}
.product {
  margin-bottom: 1rem;
}
.product-footer {
  padding : 0.75rem 0;
  text-align : center;
  color : black;
  background-color : rgb (151 169 173 / 85%);
  }
  .product-name {
    margin-bottom : 0.25rem;
    color : black;
    }
.product-price {
  margin-bottom: 0;
  color: var(--grey-700);
  font-weight: 700;
  font-size: 1rem;
}
.home-link {
  display: block;
  width: 150px;
  margin: 2rem auto;
  text-align: center;
}
.product-detail {
  padding: 5rem 0;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.product-info {
  padding-top: 1rem;
}
.product-info span {
  color: var(--grey-800);
}
.product-info p {
  margin: 0 0 1.25rem;
}
/* Footer Styles */
footer {
  background: rgba(85, 157, 171, 0.85);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: 200px 1fr;
  }
  .product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .product-detail img {
    height: 100%;
    max-height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .products-container .product-img {
    height: 10rem;
  }
  .products-container .product-name,
  .products-container .product-price {
    font-size: 0.85rem;
  }
  .product {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
